<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorate="~{main-layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{${title}}"></title>
</head>
<body>

<div layout:fragment="header">
    <div class="col-sm-6">
        <h1><span th:text="#{${title}}"></span></h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a th:href="@{/}"><span th:text="#{lang.home-page}"></span></a></li>
            <li class="breadcrumb-item"><a th:href="@{/admin}"><span th:text="#{lang.administration}"></span></a></li>
            <li class="breadcrumb-item"><span th:text="#{${title}}"></span></li>
        </ol>
    </div>
</div>

<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form th:action="@{/admin/user/edit}" th:object="${user}" method="post">

                    <div class="card-body">
                        <div th:if="${#fields.hasGlobalErrors()}">
                            <div class="alert alert-danger col-8" th:each="error : ${#fields.errors('global')}" th:text="${error}"></div>
                        </div>
                        <div th:if="${!#strings.isEmpty(message)}">
                            <div class="alert alert-info col-6"><span th:text="#{${message}}"></span></div>
                        </div>
                        <input id="id" type="hidden" th:field="*{id}"/>
                        <div class="form-row">
                            <div class="form-group col-8">
                                <label for="username" class="control-label" th:classappend="${#fields.hasErrors('username')}? 'text-danger':''"><span th:text="#{lang.username}"></span></label>
                                <input id="username" class="form-control" th:classappend="${#fields.hasErrors('username')}? 'is-invalid':''" th:field="*{username}" />
                                <div class="invalid-feedback" th:each="error: ${#fields.errors('username')}" th:text="${error}">
                                </div>

                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-8">
                                <label for="email" class="control-label" th:classappend="${#fields.hasErrors('email')}? 'text-danger':''">E-mail</label>
                                <input id="email" class="form-control" th:field="*{email}" th:classappend="${#fields.hasErrors('email')}? 'is-invalid':''"/>
                                <div class="invalid-feedback" th:each="error: ${#fields.errors('email')}" th:text="${error}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-4">
                                <label for="firstName" class="control-label" th:classappend="${#fields.hasErrors('firstName')}? 'text-danger':''"><span th:text="#{lang.firstname}"></span></label>
                                <input id="firstName" class="form-control" th:field="*{firstName}" th:classappend="${#fields.hasErrors('firstName')}? 'is-invalid':''"/>
                                <div class="invalid-feedback" th:each="error: ${#fields.errors('firstName')}" th:text="${error}">
                                </div>
                            </div>

                            <div class="form-group col-4">
                                <label for="lastName" class="control-label" th:classappend="${#fields.hasErrors('lastName')}? 'text-danger':''"><span th:text="#{lang.lastname}"></span></label>
                                <input id="lastName" class="form-control" th:field="*{lastName}" th:classappend="${#fields.hasErrors('lastName')}? 'is-invalid':''"/>
                                <div class="invalid-feedback" th:each="error: ${#fields.errors('lastName')}" th:text="${error}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-1">
                                    <input type="submit" name="edit-user-submit" id="edit-user-submit" class="form-control btn btn-success" th:value="#{lang.done}" />
                                </div>
                                <div class="col-1">
                                    <a th:href="@{/admin/user}" class="form-control btn btn-default"><span th:text="#{lang.cancel}"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>